@import './assets/scss/variables.scss';
@import './assets/scss/sidebar.scss';
@import './assets/scss/dashboard.scss';

.layout {
  height: 100vh;

  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid rgba(33, 33, 33, 0.2);
    padding: 8px 40px 5px 42px;
    height: 40px;

    .left {
      img {
        max-width: 105px;
      }
    }

    .center {
      width: 600px;

      .search-input {
        .MuiInputBase-root {
          &:focus,
          &:focus-within {
            .MuiOutlinedInput-notchedOutline {
              border-color: $theme-info;
            }
          }

          &:hover {
            border-radius: 9px;

            .MuiOutlinedInput-notchedOutline {
              border-color: $theme-info;
            }
          }

          .MuiInputBase-input {
            padding: 10px 10px 9px 0;
            max-height: 38px;
            font-size: 14px;
            color: $theme-text;

            &::placeholder {
              color: $theme-text;
              font-weight: 400;
              opacity: 0.5;
            }
          }

          .MuiOutlinedInput-notchedOutline {
            border-radius: 9px;
            border: 1.5px solid rgba(33, 33, 33, 0.1);

            &:hover {
              border: 1px solid $theme-info;
            }
          }
        }
      }
    }

    .right {
      ul {
        display: flex;
        align-items: center;
        gap: 26px;
        list-style: none;

        li {
          display: flex;
          align-items: center;
          gap: 5px;
          font-size: 16px;
          font-weight: 500;
          cursor: pointer;
          color: rgba(33, 33, 33, 1);

          .icon {
            width: 22px;
            height: 22px;
            color: rgba(33, 33, 33, 0.8);

            &:hover {
              color: $theme-info;
            }
          }

          .selected {
            color: #0034bb;
          }

          .avatar {
            width: 25px;
            height: 25px;
            font-size: 15px;
          }
        }
      }
    }
  }

  .page {
    display: flex;
    align-items: center;
    gap: 30px;

    .page-right {
      height: calc(100vh - 54px);
      overflow: scroll;
      width: 100%;
    }
  }
}